In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('unigram_freq.csv')

In [28]:
df[:10]

   word        count
0   the  23135851162
1    of  13151942776
2   and  12997637966
3    to  12136980858
4     a   9081174698
5    in   8469404971
6   for   5933321709
7    is   4705743816
8    on   3750423199
9  that   3400031103

In [40]:
df[ df["word"] == "cat" ].iloc[0]['count']

46839855

In [41]:
def who_wins(w1, w2):
    count_w1 = df[ df['word']==w1 ]["count"].values[0]
    count_w2 = df[ df['word']==w2 ]["count"].values[0]

    if count_w1 < count_w2:
        w1, w2 = w2, w1
        count_w1, count_w2 = count_w2, count_w1

    print(f'{w1} ({count_w1}) wins over {w2} ({count_w2})')

In [42]:
who_wins("dad", "mom")

mom (29736214) wins over dad (15136055)

In [43]:
who_wins("cat", "mom")

cat (46839855) wins over mom (29736214)